@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>ARGE 24</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>


   
    <div>
        <img src="~/images/pic.png" asp-append-version="true" style="        
        margin-top: -50px;
        margin-top: -50px;
        margin-right:auto;
        width: auto;
        height: 660px;
        background-position: 50% 50%;
       " />
    </div>

</body>
</html>